.slot {
    font-size: 3em;
    height: 2em;
}
.slot-item {
    height: 100%;
    width: 100%;
}
button {
    color: #000;
    background: #fff;
    border: solid 1px;
    border-radius: 3px;
}
label {
    display: block;
    margin: 1em 0;
}